.dropdown {
	width: 100%;
	background-color: rgb(243, 243, 243);
	padding: 0.2em;
	border-radius: 0 0 0.5em 0.5em;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.dropdown-element {
	border-radius: 0.2em;
	padding: 0.2em;
}

.dropdown-element:hover {
	background-color: rgb(202, 202, 202);
	cursor: pointer;
}
